<div {{ attributes }}>
	{{ form_start(form, {
		attr: {
			'data-action': 'live#action:prevent',
			'data-live-action-param': 'save'
		}
	}) }}
	{% if this.message is not null %}
		<h3>{{ this.message }}</h3>
	{% endif %}
	{{ form_rest(form) }}

	{{ form_end(form) }}
</div>