{% block altcha_widget %}
    {% if enable %}
        <div data-controller="huluti--altcha-bundle--altcha">
        {% if use_stimulus %}
            {{ form_widget(form,{
                attr:{
                    'data-huluti--altcha-bundle--altcha-target':'input',
                }
            }) }}
            {{ form_errors(form) }}
        {% endif %}
        {% if not use_asset_mapper %}
            <script async defer src="{{ js_path }}" type="module"></script>
        {% endif %}
        <altcha-widget
                data-huluti--altcha-bundle--altcha-target="altcha"
                data-live-ignore="data-live-ignore"
                challengeurl="{{ path('huluti_altcha_challenge') }}"
                strings='{{ strings|json_encode }}'
                {% if hide_logo %}hidelogo{% endif %}
                {% if hide_footer %}hidefooter{% endif %}
                {% if floating %}floating{% endif %}
        ></altcha-widget>
        </div>
    {% endif %}
{% endblock %}
