{% block altcha_widget %}
	{% if enable %}
		{% set controller = 'tito10047--altcha-bundle--altcha' %}
		{% set id='altcha-id-'~ random(50000, 100000) %}
		<div data-controller="{{ controller }}"
		     data-{{ controller }}-hide-logo-value="{{ hide_logo|json_encode }}"
		     data-{{ controller }}-hide-footer-value="{{ hide_footer|json_encode }}"
		     data-{{ controller }}-use-sentinel-value="{{ use_sentinel|json_encode }}"
		     data-{{ controller }}-overlay_content-value="{{ overlay_content|json_encode }}"
		     data-{{ controller }}-challenge-url-value="{{ path('altcha_challenge') }}"
		>
			{% if use_stimulus %}
				{{ form_widget(form,{
					attr:{
						('data-'~controller~'-target'):'input',
					}
				}) }}
			{% else %}
				<script>
					{% if use_sentinel %}
					async function altchaChallengeFetchWithFallback(url, init) {
						try {
							return await fetch(url, init);
						} catch (e) {
							return await fetch("{{ path('altcha_challenge') }}", init);
						}
					};
					{% endif %}
					window.addEventListener('load', () => {
						// Nájdeme náš widget pomocou tvojho unikátneho data atribútu
						const widget = document.getElementById('{{ id }}');

						if (widget) {
							// Vytvoríme prázdny konfiguračný objekt
							const config = {};

							// Dynamicky pridáme nastavenia podľa podmienok z tvojej šablóny
							{% if hide_logo %}
							config.hideLogo = true;
							{% endif %}

							{% if hide_footer %}
							config.hideFooter = true;
							{% endif %}

							{% if overlay_content %}
							config.overlayContent = "{{ overlay_content }}";
							{% endif %}

							{% if use_sentinel %}
							// Namiesto "customfetch" sa teraz parameter volá "fetch"
							config.fetch = altchaChallengeFetchWithFallback;
							{% endif %}

							// Aplikujeme kompletnú konfiguráciu priamo na inštanciu widgetu
							widget.configure(config);
						}
					});
				</script>

			{% endif %}
			{% if include_script %}
				<script async defer src="{{ js_path }}" id="script-altcha" type="module"></script>
			{% if i18n_path is not null %}
				<script async defer src="{{ i18n_path }}" id="script-altcha-i18n" type="module"></script>
			{% endif %}
			{% endif %}

			<altcha-widget
					if="{{ id }}"
					data-{{ controller }}-target="altcha"
					data-live-ignore="data-live-ignore"
					challenge="{{ challenge_url }}"
					{% if floating %}
						display="floating"
					{% elseif overlay %}
						display="overlay"
					{% else %}
						display="standard"
					{% endif %}
			></altcha-widget>
		</div>
	{% endif %}
{% endblock %}
