{% block altcha_widget %}
    {% if enable %}
        <div data-controller="tito10047--altcha-bundle--altcha">
        {% if use_stimulus %}
            {{ form_widget(form,{
                attr:{
                    'data-tito10047--altcha-bundle--altcha-target':'input',
                }
            }) }}
        {% endif %}
        {% if include_script %}
            <script async defer src="{{ js_path }}" type="module"></script>
            {% if i18n_path is not null %}
                <script async defer src="{{ i18n_path }}" type="module"></script>
            {% endif %}
        {% endif %}
        <altcha-widget
                data-tito10047--altcha-bundle--altcha-target="altcha"
                data-live-ignore="data-live-ignore"
				challengeurl="{{ challenge_url }}"
                {% if hide_logo %}hidelogo{% endif %}
                {% if hide_footer %}hidefooter{% endif %}
                {% if floating %}floating{% endif %}
                {% if use_sentinel %}customfetch=altchaChallengeFetchWithFallback{% endif %}
        ></altcha-widget>
        </div>
    {% endif %}
    {% if use_sentinel %}
    <script>
        async function altchaChallengeFetchWithFallback(url) {
            try {
                return await fetch(url);
            } catch (e) {
                return await fetch("{{ path('altcha_challenge') }}");
            }
          };
    </script>
    {% endif %}
{% endblock %}
